{% if pagename == 'customers-register' or pagename == 'customers-login' or pagename == 'customers-account' or pagename == 'customers-addresses' or pagename == 'customers-activate_account' or pagename == 'customers-order' or pagename == 'customers-reset_password' %}
    {% if customer %}
        <a class="navUser-action" href="{{ routes.account_url }}" aria-label="link">
            {{ customer.name }}
        </a>
    {% else %}
        <a class="navUser-action" href="{{ routes.account_login_url }}" aria-label="link">
<!--           <i class="fas fa-user"></i> -->
          <img src="https://cdn.shopify.com/s/files/1/0556/6529/5509/files/user_2_2.svg?v=1627368201">
          
            {% comment %} {{ 'customer.login.login' | t }} {% endcomment %}
        </a>
    {% endif %}
{% else %}
    {% if customer %}
        <a class="navUser-action" href="{{ routes.account_url }}" aria-label="link">
            {{ customer.name }}
        </a>
    {% else %}
        <a class="navUser-action" href="{{ routes.account_login_url }}" aria-label="link" data-login-form-pc>
<!--           <i class="fas fa-user"></i> -->
          <img src="https://cdn.shopify.com/s/files/1/0556/6529/5509/files/user_2_2.svg?v=1627368201">
          
            {% comment %} {{ 'customer.login.login' | t }} {% endcomment %}
        </a>
        {% render 'login-form' %}
    {% endif %}
{% endif %}