
{% if block_style == "style_1" %}
    <div class="site-nav-dropdown dropdown-megamenu {{ block_style }}">
        <div class="container">
            <div class="dropdown-megamenu-left">
                <div class="dropdown-megamenu-left--item">
                    <ul class="site-nav-dropdown-child column-4">
                        {% for link_child_item in linklists[link_child].links %}
                            <li class="menu-lv-2{% if linklists[link_child_item.handle] != empty %} dropdown{% endif %}">
                                <p class="nav-action{%if linklists[link_child_item.handle] == empty %} nav-action--end{% endif %}">
                                    <a href="{{ link_child_item.url }}" class="link" aria-label="link">{{ link_child_item.title }}</a>
                                    {% if linklists[link_child_item.handle] != empty %}
                                        <span class="icon-dropdown" data-toggle-menu-mb>&#10095;</span>
                                    {% endif %}
                                </p>
                                {% if linklists[link_child_item.handle] != empty %}
                                    <div class="dropdown-menu-mobile">
                                        <div class="nav-title-mobile text-center">
                                            <span class="icon-dropdown">&#10094;</span>
                                            {{ link_child_item.title }}
                                        </div>
                                        <ul class="site-nav-dropdown">
                                            {% for n in linklists[link_child_item.handle].links %}                
                                                <li class="menu-lv-3">
                                                    <a href="{{ n.url }}" class="nav-action nav-action--end" aria-label="link">
                                                        <span class="text">{{ n.title }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="dropdown-megamenu-left--item dropdown-megamenu-left--item--productList">
                    {% if title_featured_product != blank %}
                        <h3 class="title">{{ title_featured_product }}</h3>
                    {% endif %}
                    <div class="dropdown-megamenu--carousel">
                        {% if product_1 != blank %}
                            <div class="items">
                                {% render 'product-card-grid-2-2', product : product_1 %}
                            </div>
                        {% else %}
                            <div class="items">
                                <div class="product-card product-card--2 text-left">
                                    <div class="product-card__image">
                                        <a class="product-card__link" href="#">
                                            {{ 'product-1' |  placeholder_svg_tag: 'placeholder-svg' }}
                                        </a>
                                    </div>
                                    <div class="product-card__content">
                                        <h4 class="product-card__title">{{ 'homepage.onboarding.product_title' | t }}</h4>
                                        {% assign price = 1999 %}
                                        <div class="product-card__price" data-price>
                                            <span class="price-item price-item--regular" data-regular-price>
                                                {{ price | money }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if product_2 != blank %}
                            <div class="items">
                                {% render 'product-card-grid-2-2', product : product_2 %}
                            </div>
                        {% else %}
                            <div class="items">
                                <div class="product-card product-card--2 text-left">
                                    <div class="product-card__image">
                                        <a class="product-card__link" href="#">
                                            {{ 'product-2' |  placeholder_svg_tag: 'placeholder-svg' }}
                                        </a>
                                    </div>
                                    <div class="product-card__content">
                                        <h4 class="product-card__title">{{ 'homepage.onboarding.product_title' | t }}</h4>
                                        {% assign price = 1999 %}
                                        <div class="product-card__price" data-price>
                                            <span class="price-item price-item--regular" data-regular-price>
                                                {{ price | money }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if product_3 != blank %}
                            <div class="items">
                                {% render 'product-card-grid-2-2', product : product_3 %}
                            </div>
                        {% endif %}
                        {% if product_4 != blank %}
                            <div class="items">
                                {% render 'product-card-grid-2-2', product : product_4 %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="dropdown-megamenu-right">
                {% if banner_image_1 != blank %}
                        {% assign img_url = banner_image_1 | img_url: '430x' %}
                        {% assign img_url_2 = banner_image_1 | img_url: '330x' %}
                        <img class="dropdown-megamenu__img lazyload" 
                            data-srcset="{{ img_url_2 }} 180w, {{ img_url }} 1025w"
                            data-sizes="auto" alt="" data-image>
                        {% if link_banner_image_1 %}
                            <a href="{{ link_banner_image_1 }}" aria-label="link"></a>
                        {% endif %}
                {% else %}
                        <span class="recommended_size">450x350</span>
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
            </div>
        </div>
    </div>
{% elsif block_style == "style_2" %}
    <div class="site-nav-dropdown dropdown-megamenu {{ block_style }}">
        <div class="container">
            <div class="dropdown-megamenu-left">
                <ul class="site-nav-dropdown-child column-1">
                    {% for link_child_item in linklists[link_child].links %}
                        <li class="menu-lv-2{% if linklists[link_child_item.handle] != empty %} dropdown{% endif %}">
                            <p class="nav-action{%if linklists[link_child_item.handle] == empty %} nav-action--end{% endif %}">
                                <a href="{{ link_child_item.url }}" class="link" aria-label="link">{{ link_child_item.title }}</a>
                                {% if linklists[link_child_item.handle] != empty %}
                                    <span class="icon-dropdown" data-toggle-menu-mb>&#10095;</span>
                                {% endif %}
                            </p>
                            {% if linklists[link_child_item.handle] != empty %}
                                <div class="dropdown-menu-mobile">
                                    <div class="nav-title-mobile text-center">
                                        <span class="icon-dropdown">&#10094;</span>
                                        {{ link_child_item.title }}
                                    </div>
                                    <ul class="site-nav-dropdown">
                                        {% for n in linklists[link_child_item.handle].links %}                
                                            <li class="menu-lv-3">
                                                <a href="{{ n.url }}" class="nav-action nav-action--end" aria-label="link">
                                                    <span class="text">{{ n.title }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
          
            <div class="dropdown-megamenu-right">
                {% if banner_image_1 != blank %}
                        {% assign img_url = banner_image_1 | img_url: '330x' %}
                        <img class="dropdown-megamenu__img lazyload" 
                            data-srcset="{{ img_url }}"
                            data-sizes="auto" alt="" data-image>
                        {% if link_banner_image_1 %}
                            <a href="{{ link_banner_image_1 }}" aria-label="link"></a>
                        {% endif %}
                {% else %}
                        <span class="recommended_size">320x500</span>
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
            </div>
        </div>
    </div>
{% elsif block_style == "style_3" %}
    <div class="site-nav-dropdown dropdown-megamenu {{ block_style }}">
        <div class="container">
            <div class="dropdown-megamenu-left">
                <ul class="site-nav-dropdown-child column-3">
                    {% for link_child_item in linklists[link_child].links %}
                        <li class="menu-lv-2{% if linklists[link_child_item.handle] != empty %} dropdown{% endif %}">
                            <p class="nav-action{%if linklists[link_child_item.handle] == empty %} nav-action--end{% endif %}">
                                <a href="{{ link_child_item.url }}" class="link" aria-label="link">{{ link_child_item.title }}</a>
                                {% if linklists[link_child_item.handle] != empty %}
                                    <span class="icon-dropdown" data-toggle-menu-mb>&#10095;</span>
                                {% endif %}
                            </p>
                            {% if linklists[link_child_item.handle] != empty %}
                                <div class="dropdown-menu-mobile">
                                    <div class="nav-title-mobile text-center">
                                        <span class="icon-dropdown">&#10094;</span>
                                        {{ link_child_item.title }}
                                    </div>
                                    <ul class="site-nav-dropdown">
                                        {% for n in linklists[link_child_item.handle].links %}                
                                            <li class="menu-lv-3">
                                                <a href="{{ n.url }}" class="nav-action nav-action--end" aria-label="link">
                                                    <span class="text">{{ n.title }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="dropdown-megamenu-right">
                {% if banner_image_1 != blank %}
                        {% assign img_url = banner_image_1 | img_url: '330x' %}
                        <img class="dropdown-megamenu__img lazyload" 
                            data-srcset="{{ img_url }}"
                            data-sizes="auto" alt="" data-image>
                        {% if link_banner_image_1 %}
                            <a href="{{ link_banner_image_1 }}" aria-label="link"></a>
                        {% endif %}
                {% else %}
                        <span class="recommended_size">320x450</span>
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
            </div>
        </div>
    </div>
{% elsif block_style == "style_4" %}
    <div class="site-nav-dropdown dropdown-megamenu {{ block_style }}">
        <div class="container">
            <div class="dropdown-megamenu-left">
              <div class="mega_menu_column-5">
                <ul class="dropdown-megamenu__img--column column-5">
                    <li>
                    
                        <div class="image--hover mega_banner">
                            <div class="image-container">
                                {% if banner_image_1 != blank %}
                                    {% assign img_url = banner_image_1 | img_url: '480x' %}
                                    {% assign img_url_2 = banner_image_1 | img_url: '330x' %}
                                    <img class="dropdown-megamenu__img lazyload" 
                                        data-srcset="{{ img_url_2 }} 180w, {{ img_url }} 1025w"
                                        data-sizes="auto" alt="" data-image>
                              		<img class="dropdown-megamenu__img lazyload second" 
                                        data-srcset="{{ img_url_2 }} 180w, {{ img_url }} 1025w"
                                        data-sizes="auto" alt="" data-image>
                                    {% if link_banner_image_1 %}
                                        <a href="{{ link_banner_image_1 }}" aria-label="link"></a>
                                    {% endif %}
                                {% else %}
                                    <span class="recommended_size">480x280</span>
                                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                {% endif %}
                            </div>
                        </div>
                      
                          {% if title_banner_image_1 != blank %}
                            {% if link_banner_image_1 %}
                      
                                <a href="{{ link_banner_image_1 }}" aria-label="link" class="megamenu__title">
                                  <h4 class="title_n">{{ title_banner_image_1 }}</h4>
                                  <h6 class="des_n">Portable, light weight</h6>
<!--                                   <p class="small_n">Projector</p> -->
                      			</a>
                            {% else %}
                                <h3 class="megamenu__title ert">{{ title_banner_image_1 }}</h3>
                            {% endif %}
                        {% endif %}
                    </li>
                    <li>
                       
                        <div class="image--hover mega_banner">
                            <div class="image-container">
                                {% if banner_image_2 != blank %}
                                    {% assign img_url = banner_image_2 | img_url: '480x' %}
                                    {% assign img_url_2 = banner_image_2 | img_url: '330x' %}
                                    <img class="dropdown-megamenu__img lazyload" 
                                        data-srcset="{{ img_url_2 }} 180w, {{ img_url }} 1025w"
                                        data-sizes="auto" alt="" data-image>
                              
                                    <img class="dropdown-megamenu__img lazyload second" 
                                        data-srcset="{{ img_url_2 }} 180w, {{ img_url }} 1025w"
                                        data-sizes="auto" alt="" data-image>
                                    {% if link_banner_image_2 %}
                                        <a href="{{ link_banner_image_2 }}" aria-label="link"></a>
                                    {% endif %}
                                {% else %}
                                    <span class="recommended_size">480x280</span>
                                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                {% endif %}
                            </div>
                        </div>
                      
                       {% if title_banner_image_2 != blank %}
                            {% if link_banner_image_2 %}
                                <a href="{{ link_banner_image_2 }}" aria-label="link" class="megamenu__title">
                                  <h4 class="title_n">{{ title_banner_image_2 }}</h4>
                                  <h6 class="des_n">4K, 3D capable</h6>
<!--                                   <p class="small_n">Projector</p> -->
                      			</a>
                            {% else %}
                                <h3 class="megamenu__title">{{ title_banner_image_2 }}</h3>
                            {% endif %}
                        {% endif %}
                    </li>
                    <li>
                       
                        <div class="image--hover mega_banner">
                            <div class="image-container">
                                {% if banner_image_3 != blank %}
                                    {% assign img_url = banner_image_3 | img_url: '480x' %}
                                    {% assign img_url_2 = banner_image_3 | img_url: '330x' %}
                                    <img class="dropdown-megamenu__img lazyload" 
                                        data-srcset="{{ img_url_2 }} 180w, {{ img_url }} 1025w"
                                        data-sizes="auto" alt="" data-image>
                                    <img class="dropdown-megamenu__img lazyload second" 
                                              data-srcset="{{ img_url_2 }} 180w, {{ img_url }} 1025w"
                                              data-sizes="auto" alt="" data-image>
                                    {% if link_banner_image_3 %}
                                        <a href="{{ link_banner_image_3 }}" aria-label="link"></a>
                                    {% endif %}
                                {% else %}
                                    <span class="recommended_size">480x280</span>
                                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                {% endif %}
                            </div>
                        </div>
                      
                       {% if title_banner_image_3 != blank %}
                            {% if link_banner_image_3 %}
                                <a href="{{ link_banner_image_3 }}" aria-label="link" class="megamenu__title">
                                   <h4 class="title_n">{{ title_banner_image_3 }}</h4>
                      			   <h6 class="des_n">Touch, sound</h6>
<!--                                    <p class="small_n">Digiframe</p> -->
                      			</a>
                            {% else %}
                                <h3 class="megamenu__title">{{ title_banner_image_3 }}</h3>
                            {% endif %}
                        {% endif %}
                    </li>
                    <li>
                        {% if title_banner_image_4 != blank %}
                            {% if link_banner_image_4 %}
                                <a href="{{ link_banner_image_4 }}" aria-label="link" class="megamenu__title">
                                  <h4>{{ title_banner_image_4 }}</h4>
                                  <h6 class="des_n">Touch, sound</h6>
<!--                                    <p class="small_n">Digiframe</p> -->
                      			</a>
                            {% else %}
                                <h3 class="megamenu__title">{{ title_banner_image_4 }}</h3>
                            {% endif %}
                        {% endif %}
                        <div class="image--hover mega_banner">
                            <div class="image-container">
                                {% if banner_image_4 != blank %}
                                    {% assign img_url = banner_image_4 | img_url: '480x' %}
                                    {% assign img_url_2 = banner_image_4 | img_url: '330x' %}
                                    <img class="dropdown-megamenu__img lazyload" 
                                        data-srcset="{{ img_url_2 }} 180w, {{ img_url }} 1025w"
                                        data-sizes="auto" alt="" data-image>
                                    {% if link_banner_image_4 %}
                                        <a href="{{ link_banner_image_4 }}" aria-label="link"></a>
                                    {% endif %}
                               
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    
                </ul>
                <div class="mega_menu_btn_n">
                 {% if  section.settings.btn1 != blank %}  
                      <a class="menu_btn_n menu_l" href="{{section.settings.url1}}">{{section.settings.btn1}}</a>
                  {% endif %}
                 {% if  section.settings.btn2 != blank %}  
                      <a class="menu_btn_n menu_r" href="{{section.settings.url2}}">{{section.settings.btn2}}</a>
                  {% endif %}
                </div>
              </div>
            </div>
        </div>
    </div>
{% endif %}