{% assign img_url = product.featured_image | img_url: '270x' %}
{% assign img_url_2 = product.featured_image | img_url: '220x' %}
{% assign img_url_3 = product.images[1].src | img_url: '270x' %}


{% assign show_product_wishlist = show_product_wishlist | default: settings.show_product_wishlist %}
{% assign show_product_quickview = show_product_quickview | default: settings.show_product_quickview %}
{% assign show_product_vendor = show_product_vendor | default: settings.show_product_vendor %}
{% assign show_product_title = show_product_title | default: settings.show_product_title %}
{% assign show_product_reviews = show_product_reviews | default: settings.show_product_reviews %}
{% assign show_product_price = show_product_price | default: settings.show_product_price %}
{% assign show_product_variant = show_product_variant | default: settings.show_product_variant %}
{% assign show_product_button = show_product_button | default: settings.show_product_button %}
{% assign show_product_switch_image = show_product_switch_image | default: settings.show_product_switch_image %}

<div class="product_slide_5 product_slide product-card text-left {% unless product.available %} product-card--sold-out{% endunless %}" data-product-card data-id="{{ product.id }}">
    <div class="product-card__image">
        {% render 'product-badges' with product as product, serial: serial %}
        <a class="product-card__link{% if show_product_switch_image and product.images.size > 1 %} product-card__switchImage{% endif %}" href="{{ product.url | within: collection }}" aria-label="link">
            <img class="product-card__img lazyload"
                data-srcset="{{ img_url }} 1025w"
                data-sizes="auto" alt="" data-image>
            {% if show_product_switch_image and product.images.size > 1 %}
                <img class="product-card__img product-card__img--2 lazyload"
                data-srcset="{{ img_url_3 }} 1025w"
                data-sizes="auto" alt="" data-image>
            {% endif %}
        </a>
    </div>
    <div class="product-card__content--wrapper">
        <div class="product-card__content">
            {% if show_product_vendor %}
                <div class="product-card__vendor">
                    {{ product.vendor | link_to_vendor }}
                </div>
            {% endif %}
            {% if show_product_title %}
                <h4 class="product-card__title">
                    <a href="{{ product.url | within: collection }}" aria-label="title">{{ product.title }}</a>
          			
<!--                   <div class="preloder_btn_cust123 product-card__button--wrapper">
                    {% render 'product-btn', product: product, show_product_button: show_product_button, id: 'list-product-form', variant: product.selected_or_first_available_variant %}
                </div> -->
                  <a class="lern_btn" href="{{ product.url }}">Learn more</a>
                      
          		</h4>
            {% endif %}
          
          {% comment %}
            {% if show_product_reviews %}
                <div class="product-card__reviews">
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
            {% endif %}
          {% endcomment %}
          
          <div class="price_grid tst">
            {% if show_product_price %}
                <div class="product-card__price {% if product.compare_at_price > product.price %}price--on-sale{% endif %}" data-price>
                    {% if product.compare_at_price > product.price %}
                        <span class="price-item price-item--regular" data-regular-price>
                            {{ product.compare_at_price | money }}
                        </span>
                        <span class="price-item price-item--sale" data-sale-price>
                            {% if product.price_varies %}
                                {{ 'products.product.from_text_html' | t }}
                            {% endif %}
                            {{ product.price | money }}
                        </span>
                    {% else %}
                        <span class="price-item price-item--regular" data-regular-price>
                            {% if product.price_varies %}
                                {{ 'products.product.from_text_html' | t }}
                            {% endif %}
                            {{ product.price | money }}
                        </span>
                        <span class="price-item price-item--sale" data-sale-price></span>
                    {% endif %}

                    {% if compare %}
                        {% render 'product-compare',  id: product.id, link: product.handle %}
                    {% endif %}
                </div>
            {% endif %}
            
<!--             <a class="lern_m" href="{{ product.url }}">Learn more</a> -->
            
            <!--
            <div class="product-recommendations">
              {% if recommendations.performed %}
              {%- if recommendations.products_count > 0 -%}
                <h2>You may also like</h2>
                <ul>
                  
                  {%- for product in recommendations.products -%}
                  <li class="product">
                    <a href="{{ product.url }}">
                      <p class="product__title">{{ product.title }}</p>
                    </a>
                  </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
              {%- endif -%}
            </div>
			-->            

            {% assign compatible = false %}
            {% capture p_compatible %}
            {% if product.tags.size > 0 %}
            <div class="product-recommendations">
              <h2>Compatible with:</h2>
              {% for prod in collections.all.products %}
              	{% if product.tags contains prod.title %}
              		{% assign compatible = true %}
                    <a href="{{ prod.url | within: collections.all }}">{{ prod.title }}</a>
              	{% endif %}
              {% endfor %}
            </div>
            {% endif %}
           {% endcapture %}
            
           {% if compatible %}
             {{ p_compatible }}
           {% endif %}
          </div>
          
          {% comment %}
            {% render 'product-variant-color', product: product, show_product_variant: show_product_variant %}
          {% endcomment %}  
          
          {% if product.available %}
                {% if product.options_with_values.size <= 1 %}
                    <div class="product-card__error-message product-form__error-message-wrapper product-form__error-message-wrapper--hidden"
                    data-error-message-wrapper role="alert">
                        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                        <svg class="icon"><use xlink:href="#icon-error" /></svg>
                        <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        

        <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
    </div>
  {% render 'banana-stand-product-list-container', product: product %}
</div>

