{% if section.settings.background-color %}
    {% assign background_color = 'halo-section-background-gray' %}
{% endif %}

{% assign top = top | default: section.settings.top %}
{% assign bottom = bottom | default: section.settings.bottom %}

{% if section.settings.custom_color %}
<style>
  [data-section-id='{{ section.id }}'] .section-header .title {
    color: {{ section.settings.color_heading }};
  }

  [data-section-id='{{ section.id }}'] .section-header > p {
    color: {{ section.settings.color_text }};
  }

  [data-section-id='{{ section.id }}'] .section-header .btn {
    color: {{ section.settings.color_btn_text }};
    border-color: {{ section.settings.color_btn_border }};
    background-color: {{ section.settings.color_btn_bg }};
  }

  [data-section-id='{{ section.id }}'] .section-header .btn:hover {
    filter: brightness(85%);
  }
</style>
{% endif %}


<div class="halo-section background-templates-section padding-top-{{ top }} padding-bottom-{{ bottom }} {{ background_color }} {{ border_top }} {{ border_bottom }}" data-section-id="{{ section.id }}" data-section-type="image-with-text-1">
  <div class="container">
    {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2 class="title">{{ section.settings.title }}</h2>
        {% if section.settings.description != blank %}
          <p>{{ section.settings.description }}</p>
        {% endif %}
      </div>
    {% endif %}

    {% assign pattern_titles = 'Text,Pop Culture,Plants,Patterns,Food,Christmas' | split: ',' %}

    <div class="background-images">
      <div class="accordion backgrounds-inner">
        {% for pt in pattern_titles %}
          {% assign pt_handle = pt | handle %}
          <div class="panel backgrounds-inner-loop">
            <h3 class="header">{{ pt }}</h3>
            <div class="body">
              <div class="backgrounds-slide" data-slick='{
                "dots": true,
                "infinite": false,
                "speed": 300,
                "slidesToShow": 4,
                "slidesToScroll": 4,
                "responsive": [
                  {
                    "breakpoint": 1024,
                    "settings": {
                      "slidesToShow": 3,
                      "slidesToScroll": 3,
                      "infinite": true,
                      "dots": true
                    }
                  },
                  {
                    "breakpoint": 600,
                    "settings": {
                      "slidesToShow": 2,
                      "slidesToScroll": 2
                    }
                  },
                  {
                    "breakpoint": 480,
                    "settings": {
                      "slidesToShow": 1,
                      "slidesToScroll": 1
                    }
                  }
                ]
              }'>
                {%- for block in section.blocks -%}
                  {%- assign type = block.settings.type -%}
                  {%- assign image = block.settings.image -%}
                  {%- if type == pt_handle and image != blank -%}
                    <div class="backgrounds-slide-loop"><img data-src="{{ image | img_url: '280x' }}" class="lazyload"></div>
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {% if section.settings.footer_title != blank %}
      <div class="section-header section-footer text-center">
        <h2 class="title">{{ section.settings.footer_title | newline_to_br }}</h2>
        {% if section.settings.button != blank %}
          <a href="{{ section.settings.button_link }}" class="btn btn--primary" aria-label="link">
            {{ section.settings.button }}
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Pop Chic",
  "settings": [
  	{
      "type": "header",
      "content": "Section Layout"
    },
    {
      "type": "checkbox",
      "id": "background-color",
      "label": "Background Color Custom",
      "default": false
    },
    {
      "type": "range",
      "id": "top",
      "label": "Spacing Top",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "bottom",
      "label": "Spacing bottom",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Heading Section"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "textarea",
      "id": "footer_title",
      "label": "Footer Title",
      "default": "Footer Title"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Custom Color"
    },
    {
      "type": "checkbox",
      "id": "custom_color",
      "label": "Turn on custom color",
      "default": false
    },
    {
      "type": "color",
      "id": "color_heading",
      "label": "Heading Color"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Description Color"
    },
    {
      "type": "color",
      "id": "color_btn_text",
      "label": "Button Color"
    },
    {
      "type": "color",
      "id": "color_btn_border",
      "label": "Button Border Color"
    },
    {
      "type": "color",
      "id": "color_btn_bg",
      "label": "Button Background Color"
    }
  ],
  "blocks": [
    {
      "type": "pattern",
      "name": "Pattern",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            { "value": "text", "label": "Text"},
            { "value": "pop-culture", "label": "Pop Culture"},
            { "value": "plants", "label": "Plants"},
            { "value": "patterns", "label": "Patterns"},
            { "value": "food", "label": "Food"},
            { "value": "christmas", "label": "Christmas"}
          ],
          "default": "text"
        }
      ]
    }
  ]
}
{% endschema %}
