{% if section.settings.enable_bannerImage %}
    {% for block in section.blocks %}
        {% assign collection_id = collections[block.settings.collection_id] %}
        {% if collection_id.handle == collection.handle %}
            {% if block.settings.image != blank %}
                <div class="collection-hero" style="position:relative;">
                    <div class="collection-hero__image">
                      <picture>
                        <source class="lazyload" media="(min-width:650px)" srcset="{{ block.settings.image | img_url: 'master' }}" data-image>
                        <img class="lazyload" data-src="{{ block.settings.image_mob | img_url: 'master' }}" alt="" data-image>
                      </picture>
<!--                         <img class="lazyload" data-src="{{ block.settings.image | img_url: 'master' }}" alt="" data-image>
                      <img class="lazyload" data-src="{{ block.settings.image_mob | img_url: 'master' }}" alt="" data-image> -->
                    </div>
                  <div class="page-width">
                  <div class="collection_text collection_text_abs">
      <h2  data-aos="fade-right" data-aos-duration="1000">{{ collection.title }}</h2>
      <p  data-aos="fade-right" data-aos-duration="1000">{{ collection.description }}</p>
    </div>
                  </div>
                  
            {% else %}
                <div class="collection-hero">
                    <div class="collection-hero__image" data-aos="fade-right" data-aos-duration="1000">
                        <span class="recommended_size">1920x300</span>
                        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                </div>
            {% endif%}
        {% endif%}
    {% endfor %}
{% endif%}

<style>
  .collection-hero__image img {width:100%;}
</style>
{% schema %}
{
    "name": "Collection Banners",
    "settings": [
        {
            "type": "header",
            "content": "Banner Image"
        },
        {
            "type": "checkbox",
            "id": "enable_bannerImage",
            "label": "Enable Banner Image",
            "default": false
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
				{
                    "type": "image_picker",
                    "id": "image_mob",
                    "label": "Image"
                },
                {
                    "label": "Collection",
                    "id": "collection_id",
                    "type": "collection"
                }
            ]
        }
    ]
}
{% endschema %}