<div id="{{section.id}}" class="shopify-section">  
<div class="custom-how-it-banner-section">
{% if section.settings.banner_image != blank %}
<div class="how-banner-image">
<img class="how-banner-desktop" src="{{section.settings.banner_image | img_url:'' }}">
</div>
{%endif %}  
<div class="how-banner_content">
  <div class="page-width">
{% if section.settings.heading != blank %}
<h1 class="type-heading-1"  data-aos="fade-right" data-aos-duration="1000">{{section.settings.heading}}</h1>
{%endif %}
{% if section.settings.btn_link != blank %}
<a href="{{section.settings.btn_link}}"  data-aos="fade-right" data-aos-duration="1000">{{section.settings.btn_banner}}</a>
{%endif %}
  </div></div>
</div>
</div>
{% schema %}
  {
    "name": "custom how-it-work banner",
    "settings": [
{
"type":"image_picker",
"id":"banner_image",
"label":"Banner Image"
},
{
"type":"text",
"id":"heading",
"label":"Heading"

},
{
"type":"text",
"id":"btn_banner",
"label":"Buuton"
},
{
"type":"url",
"id":"btn_link",
"label":"Button link"

}

]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
