<div id="{{section.id}}" class="shopify-section">
<div class="custom-banner-section">
{% if section.settings.banner_image != blank %}
<div class="banner-image">
<!-- <img class="banner-destop" src="{{section.settings.banner_image | img_url:'' }}">
  <img class="banner-destop" src="{{section.settings.banner_image | img_url:'' }}"> -->
<!--
  <picture>
    <source media="(min-width:767px)" srcset="{{section.settings.banner_image | img_url:'master' }}">
    <img src="{{section.settings.banner_image_mob | img_url:'master' }}" alt="Flowers" style="width:100%;">
  </picture> -->

  {%- assign img_url = section.settings.banner_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  <img
    class="image-fit promo-grid__bg-image promo-grid__bg-image--{{ block.id }} lazyload"
    src="{{ section.settings.banner_image | img_url: '1920x' }}"
    data-src="{{ img_url }}"
    data-aspectratio="{{ section.settings.banner_image.aspect_ratio }}"
    data-sizes="auto"
    data-parent-fit="cover"
    alt="{{ section.settings.banner_image.alt | escape }}">
  <noscript>
    <img
      class="image-fit promo-grid__bg-image promo-grid__bg-image--{{ block.id }} lazyloaded"
      src="{{ section.settings.banner_image | img_url: '1920x' }}"
      alt="{{ section.settings.banner_image.alt }}">
  </noscript>


</div>
{%endif %}
<div class="banner_content">
  <div class="page-width">
{% if section.settings.heading != blank %}
<h1 class="type-heading-1" data-aos="fade-up">{{section.settings.heading}}</h1>
{%endif %}
{% if section.settings.btn_link != blank %}
<a href="{{section.settings.btn_link}}" data-aos="fade-up">{{section.settings.btn_banner}}</a>
{%endif %}
  </div></div>
</div>
</div>
{% schema %}
  {
    "name": "custom banner",
    "settings": [
{
"type":"image_picker",
"id":"banner_image",
"label":"Banner Image"
},
{
"type":"image_picker",
"id":"banner_image_mob",
"label":"Banner Image"
},
{
"type":"text",
"id":"heading",
"label":"Heading"

},
{
"type":"text",
"id":"btn_banner",
"label":"Buuton"
},
{
"type":"url",
"id":"btn_link",
"label":"Button link"

}

],

   "presets": [
      {
        "name": "banner",
        "category": "custom section"

      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
