{% if section.settings.hero_size == 'large' %}
    {% assign img_url = section.settings.image | img_url: '1920x970' %}
{% elsif section.settings.hero_size == 'medium' %}
    {% assign img_url = section.settings.image | img_url: '1920x770' %}
{% elsif section.settings.hero_size == 'small' %}
    {% assign img_url = section.settings.image | img_url: '1920x600' %}
{% endif %}

{% if section.settings.custom_color %}
<style>

    [data-section-id='{{ section.id }}'] .hero__subheading {
        color: {{ section.settings.color_subheading }}
    }

    [data-section-id='{{ section.id }}'] .hero__heading {
        color: {{ section.settings.color_heading }}
    }

    [data-section-id='{{ section.id }}'] .hero__text {
        color: {{ section.settings.color_text }}
    }

    [data-section-id='{{ section.id }}'] .hero__text a {
        color: {{ section.settings.color_text }}
    }

    [data-section-id='{{ section.id }}'] .hero__text a:before {
        background-color: {{ section.settings.color_text }}
    }

    [data-section-id='{{ section.id }}'] .hero__button {
        color: {{ section.settings.color_button_text }};
        border-color: {{ section.settings.color_button_border }};
        background-color: {{ section.settings.color_button_bg }};
    }

    [data-section-id='{{ section.id }}'] .hero__button:hover {
        filter: brightness(85%);
    }
</style>
{% endif %}

<div class="halo-section" data-section-id="{{ section.id }}" data-section-type="hero">
{% if section.settings.hero_layout == 'fixed_width' %}
    <div class="container">
{% else %}
    <div class="container-fluid">
{% endif %}
        <div class="hero hero--{{ section.settings.hero_size }} overlay--{{ section.settings.overlay }}">
            <div class="hero__image{% if section.settings.image_mobile != blank %} hero__image--mobile{% endif %}">
                {% if section.settings.image_mobile != blank %}
                    <img class="hero__image--backgroundMobile lazyload" data-srcset="{{ section.settings.image_mobile | img_url: 'master' }}" alt="" data-image>
                {% endif %}
                {% if section.settings.image == blank %}
                    <div class="placeholder-background">
                        {% if section.settings.hero_size == 'large' %}
                            <span class="recommended_size">1920x970</span>
                        {% elsif section.settings.hero_size == 'medium' %}
                            <span class="recommended_size">1920x770</span>
                        {% elsif section.settings.hero_size == 'small' %}
                            <span class="recommended_size">1920x500</span>
                        {% endif %}
                        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                {% else %}
                    <img class="hero__image--background lazyload" data-srcset="{{ img_url }}" alt="" data-image>
                {% endif %}
            </div>
            <div class="hero__content content--{{ section.settings.content_layout }}">
                {% if section.settings.sub_title != blank %}
                    <h5 class="hero__subheading">
                        {{ section.settings.sub_title }}
                    </h5>
                {% endif %}
                {% if section.settings.title != blank %}
                    <h2 class="hero__heading mega-title--{{ section.settings.text_size }}">
                        {{ section.settings.title }}
                    </h2>
                {% endif %}
                {% if section.settings.countdown != blank %}
                    <div class="hero__countdownWrapper"><div class="hero__countdown" data-countdown="{{ section.settings.countdown }}"></div></div>
                {% endif %}
                {% if section.settings.text != blank %}
                    <div class="hero__text">{{ section.settings.text }}</div>
                {% endif %}
                {% if section.settings.button != blank %}
                    <div class="hero__button--wrapper">
                        <a href="{{ section.settings.button_link }}" class="btn btn--secondary hero__button" aria-label="link">
                            {{ section.settings.button }}
                        </a>
                    </div>
                {% endif %}
            </div>
            {% for block in section.blocks %}
                {% if block.settings.product != blank %}
                    {% assign product = all_products[block.settings.product] %}
                    <div class="hero__points-popup" style="top: {{ block.settings.coordinates_y }}%; left: {{ block.settings.coordinates_x }}%;">
                        <div class="point"> + </div>
                        <div class="custom-product-card">
                            {% render 'product-card-grid-4' with product as product %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="hero__popup">
            <a href="javascript:void(0)" title="Close" class="close">&#215;</a>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Image Full Width",
    "settings": [
        {
            "type": "header",
            "content": "Banner Image"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image For Mobile",
            "info": "Use image for mobile to load pages faster"
        },
        {
            "type": "select",
            "id": "hero_layout",
            "label": "Layout",
            "default": "fixed_width",
            "options": [
                {
                    "label": "Full width",
                    "value": "full_width"
                },
                {
                    "label": "Fixed width",
                    "value": "fixed_width"
                }
            ]
        },
        {
            "type": "select",
            "id": "hero_size",
            "label": "Section height",
            "default": "medium",
            "options": [
                {
                    "label": "Small",
                    "value": "small"
                },
                {
                    "label": "Medium",
                    "value": "medium"
                },
                {
                    "label": "Large",
                    "value": "large"
                }
            ]
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Overlays",
            "default": "dark",
            "options": [
                {
                    "label": "Dark",
                    "value": "dark"
                },
                {
                    "label": "Light",
                    "value": "light"
                }
            ]
        },
        {
            "type": "header",
            "content": "Banner Content"
        },
        {
            "type": "select",
            "id": "content_layout",
            "label": "layout",
            "default": "middle",
            "options": [
                {
                    "label": "left",
                    "value": "left"
                },
                {
                    "label": "Right",
                    "value": "right"
                },
                {
                    "label": "Middle",
                    "value": "middle"
                }
            ]
        },
        {
            "type": "select",
            "id": "text_size",
            "label": "Text size",
            "default": "medium",
            "options": [
                {
                    "label": "Medium",
                    "value": "medium"
                },
                {
                    "label": "Large",
                    "value": "large"
                }
            ]
        },
        {
            "type": "text",
            "id": "sub_title",
            "label": "Sub Heading"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Banner with text overlay"
        },
        {
            "type": "text",
            "id": "countdown",
            "label": "Time Countdown",
            "info": "2020/12/12 0:0:00"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
        },
        {
            "type": "text",
            "id": "button",
            "label": "Button"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        },
        {
            "type": "header",
            "content": "Custom Color"
        },
        {
            "type": "checkbox",
            "id": "custom_color",
            "label": "Turn on custom color",
            "default": false
        },
        {
            "type": "color",
            "id": "color_subheading",
            "label": "Sub Heading Color"
        },
        {
            "type": "color",
            "id": "color_heading",
            "label": "Heading Color"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Description Color"
        },
        {
            "type": "color",
            "id": "color_button",
            "label": "Button Text Color"
        },
        {
            "type": "color",
            "id": "border_button",
            "label": "Button Border Color"
        },
        {
            "type": "color",
            "id": "bg_button",
            "label": "Button Background Color"
        }
    ],
    "blocks": [
        {
            "type": "product_item",
            "name": "Product Item",
            "settings": [
                {
                    "type": "product",
                    "label": "Product",
                    "id": "product"
                },
                {
                    "type": "range",
                    "id": "coordinates_x",
                    "label": "Coordinates x",
                    "max": 100,
                    "min": 0,
                    "step": 5,
                    "unit": "%",
                    "default": 50
                },
                {
                    "type": "range",
                    "id": "coordinates_y",
                    "label": "Coordinates y",
                    "max": 100,
                    "min": 0,
                    "step": 5,
                    "unit": "%",
                    "default": 50
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Image Full Width",
            "category": "Images"
        }
    ]
}
{% endschema %}
